  
  @media (min-width:544px) {
    .card-deck {
      display: table;
      width: 100%;
      margin-bottom: .75rem;
      table-layout: fixed;
      border-spacing: 1.25rem 0;
    }
  
    .card-deck .card {
      display: table-cell;
      margin-bottom: 0;
      vertical-align: top;
    }
  
    .card-deck-wrapper {
      margin-right: -1.25rem;
      margin-left: -1.25rem;
    }
  }